
<div class="container" style="width:90%;margin-top:2%">
    <div class="modal fade" id="myModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a  class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Allotment</h4>
                </div>
                <div class="modal-body" id="myModelBodyDiv">
                </div>
            </div>
        </div>
    </div>
</div>