@model DIMS.ViewModels.TemplateSearchViewModal

@{
    ViewBag.Title = "Index";
}

@*<h2>Doctor List</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Radiology Test Definer</h3>
                @Html.HiddenFor(model => model.DeptId)
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tbRadioTemplateSearch" class="table table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="col-md-1"> Service Name </th>
                                <th class="col-md-1">Group Name </th>
                                <th class="col-md-1">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>

        $('#btnRadioTemplateSearch').on('click', function (e) {
            e.preventDefault();
            SearchRadioTemplatevalue();

        });
        var SearchRadioTemplatevalue = function () {
            $('#tbRadioTemplateSearch tbody').empty();
            
            var $From_Date = $("#From_Date").val();
            var $To_Date = $("#To_Date").val();
            var $DeptId = $("#DeptId").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetTemplateSearchList", "RadiologyTemplate")',
                data: '{From_Date: "' + $From_Date + ' ",To_Date: "' + $To_Date + ' ",DeptId: "' + $DeptId + ' "}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    table = $('#tbRadioTemplateSearch').DataTable();
                    table.destroy();
                    $('#tbRadioTemplateSearch').dataTable({
                        data: data,
                        columns: [
                            { 'data': 'ServiceName' },
                            { 'data': 'GroupName' },                          
                            {
                                'data': 'Link',
                                'searchable': false,
                                'sortable': false,
                                'render': function (Link) {
                                    return '<a href=' + Link + '>Edit</a>';
                                }
                            },


                        ]
                    })
                },
            })
        }
        SearchRadioTemplatevalue();
    </script>
}