
@{
    ViewBag.Title = "Index";
}

@*<h2>Dashboard</h2>*@

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }
</style>

@*<div>
    <img src="~/Content/CollegeLogo/MIniLogRoyalTransparent.png" class="img-responsive" style="width:40%;border-radius:5px" alt="Royal Dental College" />
</div>*@
