
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition login-page" >
    <div class="login-box">
       
        <div class="login-logo">
            <a href="#"><b>HKES</b></a>            
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @RenderBody()
        </div>
    </div>
</body>
</html>
